# Virtual Environment
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Alembic cache
alembic/__pycache__/

# OS files
.DS_Store
Thumbs.db